<% if logged_in? %>
<%= link_to "create comment", "#", id: "comment-link" %>
<div id="create-comment">
	<%= form_for(@comment, :html => {class: "form", role: "forms"}, :url => article_comments_path(@article), remote: true) do |comm| %>
	<div class="container">
		<div class="input-group input-group-md">
				<%= comm.label :description %>
				<%= comm.text_area :description, class: "form-control", placeholder: "Enter a comment" %>
		</div>
			<div id="comment-submit-button">		
					<%= comm.submit "Post comment", { class: "btn btn-primary btn-md", id: "comment-created" } %>
			</div>
	</div>
</div>
<% end %>
<% end %>