<%= render 'shared/error', obj: obj %>
<div id="new-article">
	<%= form_for(obj, :html => {class: "form-horizontal", role: "form"}, remote: true) do |art| %>
		<div class="container">
			<div class="well well-lg" id="login-form-control">
				<div class="input-group" id="form-input-control">
					<%= art.label :title  %><br />
					<%= art.text_field :title, class: "form-control", placeholder: "Enter a title"%>
					<%= art.label :description %><br />
					<%= art.text_area :description, class: "form-control", placeholder: "Enter a description" %>
				</div>
			<div class="col-xs-offset-4">		
				<div id="article-submit-button">
					<div class="input-group-button">
						<%= art.submit class: "btn btn-primary btn-lg" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>