<%= render 'shared/error', obj: obj %>

<%= form_for obj do |obj| %>
<div class="container">
	<div class="well well-lg" id="login-form-control">
		<div class="input-group" id="form-input-control">
			<%= obj.label :username  %><br />
			<%= obj.text_field :username, class: "form-control", placeholder: "Enter your username"%>
			<%= obj.label :email %><br />
			<%= obj.email_field :email, class: "form-control", placeholder: "Enter your email" %>
			<%= obj.label :password %><br />
			<%= obj.password_field :password, class: "form-control", placeholder: "Enter your password" %>
			</div>
		<div class="col-xs-offset-3">		
			<div class="input-group-button">
				<%= obj.submit(@user.new_record? ? "Sign up" : "Update Account", class: 'btn btn-primary btn-lg') %>
			</div>
		</div>
	</div>
</div>

<% end %>