<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/header' %>
<%= render 'shared/messages' %>
<body>
	<%= yield %>
</body>
<%= render 'layouts/footer' %>
</html>
