<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/header' %>
<%= render 'shared/messages' %>
<body>
	<%= yield %>
</body>
<%= render 'layouts/footer' %>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- portfolio ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9735388752669489"
     data-ad-slot="8861266452"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</html>
